@import 'https://fonts.googleapis.com/css?family=Raleway:200';
*{
    margin:0;
    padding:0;
    box-sizing: border-box;    
/*    border: solid 1px deeppink; */ 
}
body{
	font-family:Raleway, sans-serif;
	background-color: #3c202f;
	color: #fd7156;  
}
#main-container{
    margin:auto;
    width:500px;
}
#header{
    text-align:left;
    text-transform:uppercase;
    letter-spacing:5px;
}
h1{
    margin-top:60px;
    color:#fd7156;
    font-size:2.6em;
}
h2{
    margin-bottom:100px;
    color:#3bd08c;
    font-size:1.5em;    
}
#box-wrapper{
    width:100%;
}
#content-container{
    height:495px;
}
#footer{
    clear:both;
    height:30px;
}
.link-box{
    float:left;
    padding:15px;
    border:1px solid;
    width:240px;
    height:240px;
    color:#3c202f;
    font-size:1.5em;
    font-weight:bold;
    text-transform:uppercase;
}
#about{
    background-color:#466f8b;
}
#projects{
    background-color:#c02942; 
}
#resume{
    background-color:#25ac6e; 
}
#contact{
    background-color:#d95b43;   
}
@media (max-width: 768px) {
    #main-container{
        width:70%;
    }    
    #header{
        padding:0px;
    }
    h1{
        font-size:2.5em;
    }
    h2{
        font-size:1.3em;
    }
    #box-wrapper{
        margin-left: auto;
        margin-right: auto;
        width:100%;
    }
}
